extends ../layout
block content
  .row 
    .col

        //- Navbar
        nav.navbar.navbar-expand-lg.bg-dark
          .container-fluid
            a.navbar-brand.text-white(href="#") Proyecto: #{title}
            button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
              span.navbar-toggler-icon
            .collapse.navbar-collapse#navbarNav
              ul.navbar-nav

                li.nav-item
                  a.nav-link.text-white(href="/fm/view") Proyectos
  .row.justify-content-center 
    .col-md-4
      h4 Tables:
      ul.list-group
        each table in tables
          li.list-group-item 
            a(href="/fm/view/" + title + "/" + table.table_name) #{table.table_name}

