extends ../layout

block content
  a(href=`/fm/view/`) Volver a Proyectos
  h1 Proyecto: #{title}
  p tablas:
  ul
    each table in tables
        li
            a(href="/fm/view/" + title + "/" + table.table_name) #{table.table_name}


